API_SECRET_KEY=change_me_to_a_secure_token
ALLOWED_HOSTS=["*"]
MODEL_PATH_TEXT="./models/mistral"
MODEL_PATH_VISION="./models/vision"
LOG_LEVEL=info

# Hardware
DEVICE=auto

# Cloudflare (Get token from Zero Trust Dashboard)
TUNNEL_TOKEN=ey...

AccessToken=access token 